body{
    background: linear-gradient(180deg, white, rgb(149, 207, 149));
    height: auto;
}

header{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: auto;
    width: fit-content;
    left: 0px;
    top: 0px;
    border: 2px solid black;
    border-radius: 10px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: black ;
}

.content{
    display: block;
    background-color: aliceblue;
    margin: auto;
    height: fit-content;
    width: 70%;
    border: solid 5px rgb(231, 200, 154);
    border-radius: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.479);
}

h1{
    font-size: 3rem;
    text-decoration: underline;
    text-align: center;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 0px;
}

img{
    display: block;
    margin: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.479);
    height: 20rem;
    margin-bottom: 3rem;
}

h3{
    margin-left: 1rem;
}

p{
    margin-left: 1rem;
}

table{
    margin: auto;
    text-align: center;
    width: 50%;
}